-cc=vbcc6502 -I$PROJECT_DIR/include -c99 -cpp-comments -c02 -quiet %s -o= %s %s -O=%ld
-ccv=vbcc6502 -I$PROJECT_DIR/include -c99 -cpp-comments -c02 %s -o= %s %s -O=%ld
-mask-opt
-as=vasm6502_oldstyle -I$PROJECT_DIR/include -esc -nowarn=62 -Fvobj -opt-branch -wdc02 -dotdir -sect -ldots -quiet %s -o %s
-asv=vasm6502_oldstyle -I$PROJECT_DIR/include -esc -nowarn=62 -Fvobj -opt-branch -wdc02 -dotdir -sect -ldots %s -o %s -L $@.list -Lall
-rm=rm %s
-rmv=rm %s
-cpr=vcpr6502 -quiet %s %s
-cprv=vcpr6502 %s %s
-ld=vlink -m -b rawbin1 -Cvbcc -T$PROJECT_DIR/6502.ld %s %s -o %s
-ldv=vlink -m -b rawbin1 -Cvbcc -T$PROJECT_DIR/6502.ld %s %s -o %s -M$@.map
